<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  xmlns:desktop4="http://schemas.microsoft.com/appx/manifest/desktop/windows10/4"
  xmlns:desktop5="http://schemas.microsoft.com/appx/manifest/desktop/windows10/5"
  IgnorableNamespaces="uap rescap">

	<Identity
	  Name="c4620a26-5c2f-43af-b76f-86d3f812dbdf"
	  Publisher="CN=80520"
	  Version="1.0.8.0"/>

	<mp:PhoneIdentity PhoneProductId="c4620a26-5c2f-43af-b76f-86d3f812dbdf" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

	<Properties>
		<DisplayName>ACOMv2</DisplayName>
		<PublisherDisplayName>80520</PublisherDisplayName>
		<Logo>Assets\Store\StoreLogo.png</Logo>
	</Properties>

	<Dependencies>
		<TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0"/>
		<TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0"/>
	</Dependencies>

	<Resources>
		<Resource Language="x-generate"/>
	</Resources>

	<Applications>
		<Application Id="App"
		  Executable="$targetnametoken$.exe"
		  EntryPoint="$targetentrypoint$">
			<uap:VisualElements
			  DisplayName="ACOMv2"
			  Description="ACOMv2"
			  BackgroundColor="transparent"
			  Square150x150Logo="Assets\Store\Square150x150Logo.png"
			  Square44x44Logo="Assets\Store\Square44x44Logo.png">
				<uap:DefaultTile Wide310x150Logo="Assets\Store\Wide310x150Logo.png"/>
				<uap:SplashScreen Image="Assets\Store\SplashScreen.png"/>
			</uap:VisualElements>
			<Extensions>
				<desktop4:Extension Category="windows.fileExplorerContextMenus">
					<desktop4:FileExplorerContextMenus>
						<desktop5:ItemType Type="Directory">
							<desktop5:Verb Id="CustomMenu" Clsid="33f4be18-0d02-4f7a-92bf-a9dcb280b4dc"/>
						</desktop5:ItemType>
						<desktop5:ItemType Type="*">
							<desktop5:Verb Id="CustomMenu" Clsid="33f4be18-0d02-4f7a-92bf-a9dcb280b4dc"/>
						</desktop5:ItemType>
						<desktop5:ItemType Type="Directory\Background">
							<desktop5:Verb Id="CustomMenu" Clsid="33f4be18-0d02-4f7a-92bf-a9dcb280b4dc"/>
						</desktop5:ItemType>
					</desktop4:FileExplorerContextMenus>
				</desktop4:Extension>
				<com:Extension Category="windows.comServer">
					<com:ComServer>
						<com:SurrogateServer DisplayName="Custome Context Menu">
							<com:Class Id="33f4be18-0d02-4f7a-92bf-a9dcb280b4dc" Path="ContextMenuCustomHost.dll" ThreadingModel="STA"/>
						</com:SurrogateServer>
					</com:ComServer>
				</com:Extension>
				<uap3:Extension Category="windows.appExecutionAlias">
					<uap3:AppExecutionAlias>
						<desktop:ExecutionAlias Alias="ACOMv2.exe"/>
					</uap3:AppExecutionAlias>
				</uap3:Extension>
			</Extensions>
		</Application>
	</Applications>

	<Capabilities>
		<rescap:Capability Name="runFullTrust"/>
	</Capabilities>
</Package>
